<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lọc Banner</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
    <div class="container-md">
        <h1 class="text-center">LẤY THÔNG TIN KHUYẾN MẠI</h1>
        <form id="promotionForm" action="/promotion" method="POST" class="text-center">
            <div class="d-flex justify-content-center mb-3">
                <select id="urlSelect" class="form-select form-select-sm w-50" name="url" aria-label=".form-select-sm example" required>
                    <option value="" selected disabled>vui lòng chọn đơn vị</option>
                    <option value="https://dienmaycholon.com/">Điện Máy Chợ Lớn</option>
                    <option value="https://example.com/2" disabled data-action="/promotionDienMayXanh">Điện Máy Xanh</option>
                    <option value="https://example.com/3" disabled>Nguyễn Kim</option>
                    <option value="https://example.com/3" disabled>Điện Máy HC</option>
                    <option value="https://example.com/3" disabled>Điện Máy PICO</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Xác nhận</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('urlSelect').addEventListener('change', function () {
        const selectedOption = this.options[this.selectedIndex];
        const form = document.getElementById('promotionForm');

        // Thay đổi hành động của form dựa trên tùy chọn được chọn
        if (selectedOption.dataset.action) {
            form.action = selectedOption.dataset.action;
        } else {
            form.action = '/promotion';  // Mặc định là /promotion
        }
    });
</script>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>