<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lọc Banner</title>
</head>

<body>
    <h1>Nhập đường dẫn</h1>
    <form action="/download" method="POST">
        <input type="text" name="url" placeholder="Nhập link cần tải" required>
        <button type="submit">Xác nhận</button>
    </form>
</body>

</html>