<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lọc Banner</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playwrite+IT+Trad:wght@100..400&family=Teko:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .banner-bg {
            background: url(https://static.vecteezy.com/system/resources/previews/010/839/424/original/aesthetic-minimal-cute-pastel-pink-wallpaper-with-abstract-checkers-checkerboard-decoration-backdrop-illustration-perfect-for-wallpaper-backdrop-postcard-background-banner-vector.jpg) no-repeat center;
            background-size: cover;
            height: 100vh;
            padding: 0;
            display: flex;
        }

        .khung_hinh_glass {
            width: 50%;
            height: 50%;
            margin: auto;
            background-color: rgba(255, 255, 255, 0.05);
            padding: 15px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 12px;
        }


        .btn-grad {
            background-image: linear-gradient(to left, #ffb3c6 0%, #ff8fab 50%, #fb6f92 80%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 0 0 0 #fb6f92;
            border-radius: 10px;
        }

        .btn-grad:hover {
            background-position: right center;
            /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
        }

        .khung-select {
            padding: 15px;
            border-radius: 10rem;
            font-size: 18px;

        }

        .color-text {
            color: #ff8fab;
            font-family: "Playwrite IT Trad", cursive;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }
    </style>
</head>

<body>
    <div class="container-fluid vh-100 d-flex justify-content-center banner-bg align-items-center">
        <div class="container-md">
            <h1 class="text-center color-text">Check Promotion</h1>
            <!-- <h1 class="text-center color-text">Upgrade</h1> -->
            <form id="promotionForm" action="/" method="POST" class="text-center">
                <div class="d-flex justify-content-center mb-3">
                    <select id="urlSelect" class="form-select color-text form-select-sm w-50 khung-select" name="url"
                        aria-label=".form-select-sm example" required>
                        <option value="" selected disabled>Chọn đơn vị</option>
                        <option value="https://dienmaycholon.com/" data-action="/promotionDienMayChoLon">Điện Máy Chợ
                            Lớn</option>
                        <option value="https://www.dienmayxanh.com/" data-action="/promotionDienMayXanh">Điện Máy Xanh
                        </option>
                        <option value="https://www.nguyenkim.com/" data-action="/promotionNguyenKim">Điện Máy Nguyễn Kim
                        </option>
                        <option value="https://pico.vn/" data-action="/promotionPico">Điện Máy PICO</option>
                        <option value="https://hc.com.vn/" data-action="/promotionHC">Điện Máy HC</option>
                        <option value="https://dienmaycholon.com/" data-action="/sosanhgia">So sánh bảng giá sản phẩm</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-grad fw-bold ">CRAWL</button>
            </form>
            <!-- <p class="d-flex justify-content-center color-text align-items-center" style="
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                        height: 100px;
                        margin: 0;">Anh yêu em</p> -->
            <i class="d-flex justify-content-center color-text align-items-center" style="
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50px;
    margin: 0;
    font-size: 13px;">Đăng Tuấn 🩷 Mai Linh </i>
        </div>
    </div>


    
    <script>
        document.getElementById('urlSelect').addEventListener('change', function () {
            const selectedOption = this.options[this.selectedIndex];
            const form = document.getElementById('promotionForm');

            // Thay đổi action của form dựa trên tùy chọn được chọn
            if (selectedOption.dataset.action) {
                form.action = selectedOption.dataset.action;
            } else {
                form.action = '/';  // Mặc định là /promotion
            }
        });
    </script>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>